@font-face {
    font-family: 'Satoshireg';
    src: url(../Fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: 'Satoshimed';
    src: url(../Fonts/Satoshi-Medium.otf);
}

@font-face {
    font-family: 'Hiromisake';
    src: url(../Fonts/HiroMisake.ttf);
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    color: #333f72;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #f3ede1;
}

.navbar{
    color: #333f72;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
}

a{
text-decoration: none;  
font-style: none; 
margin-right: 20px;
margin-left: 20px;
color: #333f72;
}

.tombol{
    font-size: 30px;
    text-align: right;
    flex: 1;
    font-family: 'Satoshimed';
}

.menu:hover{
    text-underline-offset: 7px;
    text-decoration: underline;
}

.promo:hover{
    text-underline-offset: 7px;
    text-decoration: underline;
}

.about:hover{
    text-underline-offset: 7px;
    text-decoration: underline;
}

.home{
    font-family: 'Hiromisake';
    font-size: 50px;
    font-weight: 700;
}

.judul{
    width: 100%;
    height: 500px;
    background-image: url(../Image/RamenBG.jpg);
    background-size: cover;
}

.judul p{
    height: 200px;
    text-align: left;
    padding-top: 220px;
    padding-left: 125px;
    font-family: 'Hiromisake';
    font-size: 80px;
}

.katalog{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.katalog button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.katalog a{
    font-family: 'Hiromisake';
    font-size: 25px;
    margin-left: 70px;
    margin-right: 70px;
    color: white;
    background-color: #333f72;
    padding: 15px 40px 15px 40px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #333f72;
}

.katalog button:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.ocha{
    background-image: url(../Image/Wood.jpg);
    height: 500px;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.ochapng img{
padding-left: 250px;
height: 450px;
}

.ocha h1{
    font-family: 'Hiromisake';
    color: #d6a66f;
    font-weight: 100;
    font-size: 50px;
    padding-top: 160px;
    padding-bottom: 20px;
    padding-left: 150px;
}

.ocha h2{
    font-family: 'Satoshimed';
    color: white;
    font-weight: 100;
    font-size: 25px;
    padding-left: 150px;
}

.yuzu{
    background-image: url(../Image/Blackwood.png);
    height: 500px;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.yuzupng img{
    padding-top: 35px;
    padding-left: 180px;
    height: 400px;
}

.yuzu h1,h2{
    padding-left: 100px;
}

.yuzu h1{
    font-family: 'Hiromisake';
    color: #d6a66f;
    font-weight: 100;
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 20px;
}

.yuzu h2{
    font-family: 'Satoshimed';
    color: white;
    font-weight: 100;
    font-size: 25px;
}

.newsletter{
    text-align: center;
    display: block;
    margin: 50px 100px 50px 100px;
    border: 5px solid #333f72;
}

.newsletter p{
    font-family: 'Satoshireg';
    margin-top: 30px;
    font-size: 25px;
}

.newsletter img{
    width: 175px;
}

.newsletter h1{
    font-family: 'Hiromisake';
    font-size: 45px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 12px;
}

.newsletter h3{
    font-family: 'Satoshireg';
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 20px;
    color: black;
}

.email{
    padding-bottom: 40px;
}

.e-mail{
    padding: 10px 15px 10px 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #333f72;
    border-radius: 7px 7px 7px 7px;
    width: 400px;
    font-size: 15px;
}

.email button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.email a{
    padding: 10px 15px 10px 15px;
    border-radius: 7px 0px 7px 0px;
    background-color: #333f72;
    color: white;
    font-size: 15px;
}

.email a:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.footer{
    display: block;
    text-align: center;
    background-image: url(../Image/BGfooter.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}

.logo{
    padding-top: 70px;
    padding-bottom: 40px;
}

.logo img{
    margin-right: 30px;
    margin-left: 30px;
    height: 30px;
    width: 30px;
    vertical-align: top;
}

.footer h1{
    font-family: 'Satoshireg';
    font-size: 20px;
    color: white;
    font-weight: 100;
}